@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    font-family: Inter, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background: #282828;
    color: #fff;
}
.topnav {
    overflow: hidden;
    text-align: right;
}

.topnav a, .topnav div {
    color: #fff;
}
header{
    padding: 1em 0;
    text-align: center;

}
main {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    border-radius: 8px;
}

a {
    color: #2a7ae2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;

